.home-page {
  padding: 0;
  &__title {
    color: #a8322e;
  }
  
  &__products {
    display: flex;
    flex-direction: column;
    

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
